/* font import */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

/* css resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    color: #565656;
}

main {
    padding: 10%;
}
@media screen and (max-width: 500px) {
    main {
        padding: 12% 8% 8% 8%;
    }
}
@media screen and (min-width: 501px) and (max-width: 768px) {
    main {
        padding: 10%;
    }
}

.quiz-wrapper {
    padding: 5%;
    margin: auto;
    width: 70%;
    border: 0.35vw solid #c4c4c4;
    position: relative;
}
@media screen and (max-width: 500px) {
    .quiz-wrapper {
        padding: 5%;
        margin: auto;
        width: 100%;
        border: 1vw solid #c4c4c4;
        position: relative;
    }
}
@media screen and (min-width: 501px) and (max-width: 768px) {
    .quiz-wrapper {
        padding: 5%;
        margin: auto;
        width: 95%;
        border: 0.8svw solid #c4c4c4;
        position: relative;
    }
}


.quiz-wrapper h1 {
    font-weight: 500;
    display: inline-block;
    font-size: 2vw;
    color: #24a4ec;
    position: absolute;
    text-align: center;
    margin-top: -12%;
    margin-left: 27%;
    background-color: #fff;
    padding: 2% 5%;
}
@media screen and (max-width: 500px) {
    .quiz-wrapper h1 {
        font-weight: 500;
        display: inline-block;
        font-size: 7vw;
        color: #24a4ec;
        position: absolute;
        text-align: center;
        margin-top: -14%;
        margin-left: 13%;
        background-color: #fff;
        padding: 2% 5%;
    }
}
@media screen and (min-width: 501px) and (max-width: 768px) {
    .quiz-wrapper h1 {
        font-weight: 500;
        display: inline-block;
        font-size: 4vw;
        color: #24a4ec;
        position: absolute;
        text-align: center;
        margin-top: -11%;
        margin-left: 25%;
        background-color: #fff;
        padding: 2% 5%;
    }
}

.quiz-wrapper h1 span {
    font-weight: 500;
    font-size: 2vw;
    color: #7c7979;
}
@media screen and (max-width: 500px) {
    .quiz-wrapper h1 span {
        font-weight: 500;
        font-size: 7vw;
        color: #7c7979;
    }
}
@media screen and (min-width: 501px) and (max-width: 768px) {
    .quiz-wrapper h1 span {
        font-weight: 500;
        font-size: 4vw;
        color: #7c7979;
    }
}

.quiz-wrapper h2 {
    font-weight: 500;
    margin-top: -2%;
    font-size: 1vw;
    padding: 5% 0;
}
@media screen and (max-width: 500px) {
    .quiz-wrapper h2 {
        font-weight: 500;
        margin-top: -2%;
        font-size: 3.7vw;
        padding: 10% 0 5% 0;
    }
}
@media screen and (min-width: 501px) and (max-width: 768px) {
    .quiz-wrapper h2 {
        font-weight: 500;
        margin-top: -2%;
        font-size: 2.7vw;
        padding: 10% 0 5% 0;
    }
}

/*  change this when the user hits the submit button */
.result-display {
    font-weight: 500;
    display: none;
    align-items: center;
    justify-content: center;
    border: #c4c4c4 0.35vw solid;
    width: 10vw;
    height: 17vh;
    border-radius: 15vw;
    font-size: 1.5vw;
    color: #7c7979;
    position: relative;
    text-align: center;
    margin-top: -25%;
    margin-left: 95%;
    background-color: #fff;
    padding: 5%;
    z-index: 2;
}
@media screen and (max-width: 500px) {
    .result-display {
        font-weight: 500;
        display: none;
        align-items: center;
        justify-content: center;
        border: #c4c4c4 0.35vw solid;
        width: 70vw;
        height: 17vh;
        border-radius: 2vw;
        font-size: 1.5vw;
        color: #7c7979;
        position: static;
        text-align: center;
        margin-top: 0;
        margin-left: 2vw;
        background-color: #fff;
        padding: 5%;
        z-index: 2;
    }

    .result-display .score {
        color: #7c7979;
        font-size: 5vw;
    }
    
    .result-display .remark {
        color: #24a4ec;
        font-size: 5vw;
    }
}
@media screen and (min-width: 501px) and (max-width: 768px) {
    .result-display {
        font-weight: 500;
        display: none;
        align-items: center;
        justify-content: center;
        border: #c4c4c4 0.35vw solid;
        width: 67vw;
        height: 25vh;
        border-radius: 2vw;
        font-size: 1.5vw;
        color: #7c7979;
        position: static;
        text-align: center;
        margin-top: 0;
        margin-left: 0;
        background-color: #fff;
        padding: 5%;
        z-index: 2;
    }

    .result-display .score {
        color: #7c7979;
        font-size: 3.5vw;
    }
    
    .result-display .remark {
        color: #24a4ec;
        font-size: 3.5vw;
    }
}

.result-display .score {
    color: #7c7979;
}

.result-display .remark {
    color: #24a4ec;
}

.question {
    padding-bottom: 5%;
    text-align: left;
}

p {
    font-size: 0.9vw;
    font-weight: 500;
    padding: 2% 0;
}
@media screen and (max-width: 500px) {
    p {
        font-size: 3.2vw;
        font-weight: 500;
        padding: 2% 0;
        line-height: 6vw;
    }
}
@media screen and (min-width: 501px) and (max-width: 768px) {
    p {
        font-size: 2.2vw;
        font-weight: 500;
        padding: 2% 0;
        line-height: 6vw;
    }
}


.answer {
    padding: 1% 0;
}

form {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    position: relative;
}

input[type="radio" i] {
    font-size: 0.9vw;
}
@media screen and (max-width: 500px) {
    input[type="radio" i] {
        font-size: 3.2vw;
    }
}

label {
    padding-left: 2%;
}

label span {
    font-size: 0.9vw;
    padding-left: 1%;
}
@media screen and (max-width: 500px) {
    label span {
        font-size: 3.2vw;
        padding-left: 1%;
    }
}
@media screen and (min-width: 501px) and (max-width: 768px) {
    label span {
        font-size: 2.2vw;
        padding-left: 1%;
    }
}

.submit,
.reload {
    cursor: pointer;
    color: #fff;
    padding: 2% 5%;
    border: none;
    outline: none;
    background-color: #24a4ec;
    font-size: 0.9vw;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    margin-top: 5%;
}
@media screen and (max-width: 500px) {
    .submit,
    .reload {
        cursor: pointer;
        color: #fff;
        padding: 3% 6%;
        border: none;
        outline: none;
        background-color: #24a4ec;
        font-size: 3.2vw;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        margin-top: 5%;
        margin-bottom: 10%;
    }
}
@media screen and (min-width: 501px) and (max-width: 768px) {
    .submit,
    .reload {
        cursor: pointer;
        color: #fff;
        padding: 3% 6%;
        border: none;
        outline: none;
        background-color: #24a4ec;
        font-size: 2.2vw;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        margin-top: 5%;
        margin-bottom: 10%;
    }
}

.reload {
    display: none;
    position: absolute;
    top: 0;
    left: 70;
    margin-top: -10%;
    margin-left: 20%;
}
@media screen and (max-width: 500px) {
    .reload {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        margin-top: -5%;
        margin-left: 50vw;
    }
}
@media screen and (min-width: 501px) and (max-width: 768px) {
    .reload {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        margin-top: -3%;
        margin-left: 43vw;
    }
}


